.header{
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.container{
    max-width: 1200px;
    margin: auto;
}
.w-100{
    width: 100%;
}
.logo-header{
    padding: 10px;
    max-width: 200px;
    object-fit: cover;
    box-sizing: border-box;
}

.text-white{
    color: white !important;
}

.ps-2{
    padding-left: 2rem;
}

.d-flex{
    display: flex;
}